<div class="maindiv" class="row" style="height:100vh">
    <div id="signform" class="col-lg-6 col-md-6 col-sm-6 bg-warning text-center">
        <form accept="">
            <h1 class="my-4"><label>SignUp</label></h1>
            <ul>
                <li><label for="username">UserName</label></li>
                <li><input type="text" placeholder="UserName" class="w-75 px-3" id="username" name="uname"></li>
            </ul>
            <ul>
                <li><label for="age">Age</label></li>
                <li><input type="text" placeholder="Age" class="w-75 px-3" id="age" name="uage"></li>
            </ul>
            <ul>
                <li><label for="pnumber">Phone number</label></li>
                <li><input type="text" placeholder="Phone number" class="w-75 px-3" id="pnumber" name="unum"></li>
            </ul>
            <ul>
                <div class="row"><li><label for="gender">Gender</label></li>
                <div class="col text-end"><li><input type="radio" name="gender">Male</li></div>
                <div class="col text-start"><li><input type="radio" name="gender">Female</li></div>
                </div>
            </ul>
            <ul>
                <li><label for="email">Email</label></li>
                <li><input type="text" placeholder="Email" class="w-75 px-3" id="email" name="uemail"></li>
            </ul>
            <ul>
                <li><label for="password">Password</label></li>
                <li><input type="text" placeholder="Password" class="w-75 px-3" id="password" name="upassword"></li>
            </ul>
            <ul>
                <li><label for="conpassword">Conform Password</label></li>
                <li><input type="text" placeholder="Conform Password" class="w-75 px-3" id="conpassword" name="ucpassword"></li>
            </ul>
            <button type="submit" class="btn btn-success w-25 mt-2"><i class="fa-brands fa-gg-circle fa-flip fa-2xl mx-3"></i></button>
        </form>
    </div>
    <div id="signimg" class="col-lg-6 col-md-6 col-sm-6 pt-6 h-100">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="https://i.postimg.cc/Y9Fh5wSf/bank.png" class="d-block w-100" style="margin: 5rem 0; height: 22rem;" alt="...">
                </div>
                <div class="carousel-item">
                <img src="https://i.postimg.cc/zXf7BQjs/bank-g2ceb6ac70-1280.png" style="margin: 6.21rem 0;height: 20rem" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="https://i.postimg.cc/DfW1GS0B/pngwing-com.png"  style="margin: 5.8rem 0;height: 21rem;" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
