 <h3>{{data}}</h3>
<div id="main_login">
   
    <div id="sub_main" class="row">
        <div id="discription" class="col-lg-6 col-md-6 col-sm-6  text-center">
            <h1 class="mb-5"><label class="text-warning">fortis</label> Bank<i class="fa-brands fa-gg-circle fa-flip fa-lg mx-3"></i></h1>
            <h3 class="mt-5 mx-2"><p>" Invest Fortis Bank Are Geared Towards Success "</p></h3>
        </div>
        <div id="formlist" class="bg-warning col-lg-6 col-md-6 col-sm-6">
            <form accept="">
                <label class="pb-3"><h1>Login</h1></label>
                <ul>
                    <li><label for="username">UserName</label></li>
                    <li><input  (change)="acnochange($event)" type="text" id="username" placeholder="UserName" name="uloginname"></li>
                </ul>
                <ul>
                    <li><label for="accountnumber">Account Number</label></li>
                    <li><input #acno type="text" id="accountnumber" placeholder="Account Number" name="uloginAccount"></li>
                </ul>
                <ul>
                    <li><label for="password">Password</label></li>
                    <li><input #pwd type="password" id="password" placeholder="Password" name="uloginpassword"></li>
                    <li><Label><i><a href="#">Create new Account</a></i></Label></li>
                </ul>
                <button (click)="login(acno,pwd)" id="loginbtn" type="submit" class="btn-outline-light">Login</button>  
            </form>
        </div>
    </div>
</div>
