#home_banner{
    background-image: url(https://i.postimg.cc/J08bLLVS/baner-img.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
#home_banner p{
    font-size: 23px;
    font-family: 'Lexend Deca', sans-serif; 
}
#baner_div p{
    color: rgb(0, 0, 0);
}