<div id="home" class="text-center">
  <!-- <div id="home_banner" class="flex-column justify-content-center align-items-center">
    <div id="baner_div" style="padding: 12rem 3rem;">
        <h1 class="text-white py-3"><label class="text-warning">Fortis</label>Bank</h1>
        <p class=""style="padding:0 1rem;">
            <b><label class="text-danger">“</label>A banker is a fellow who lend his umbrella when the sun is shining and
            wants it back the minute it begins to rain.<label class="text-danger">”</label></b>
        </p>
    </div>
    <label>
        <i class="fa-solid fa-down-long fa-bounce fa-2xl" style="color: #ffffff;"></i>
    </label>
  </div> -->
  <app-header></app-header>
  <div style="height: 100vh;padding-top: 6rem;">
    <div>
        <h5>Hii</h5>
        <h3>Enjoy Your Dealing with <label class="text-warning">Fortis</label><label text-secondary>Bank</label></h3>
        <img src="https://i.postimg.cc/WbLZMc5Q/pngwing-com-1.png" alt="no image" width="200px" height="200px"/>
    </div>
  </div>
  <app-footer></app-footer>
</div>
